columns {
column-width: auto;
column-count: auto;
}

header {
  overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

div.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  }

DIV.card-content #ingredients black-text {
  display: inline-flex;
  align-content: center;
  text-align: center;
  margin: auto;
}


DIV.row #searchData  {
  align-content: center;
  display: flex;
  justify-content: center;

}

a.dropdown-trigger #dropBtn btn-large {
    align-content: center;
    display: flex;;
    max-width: 400px;
    margin: auto;
  }

  .button {
    color: waves-effect waves-light 
  }

h3 {
  text-align: center;
}

div.row {
  text-align: center;
  align-items: center;
  align-content: stretch;
}
